view1:
    1: 
        2:
            3:
                4:
                    5: [
                        "leaf1"
                        "leaf2"
                    ]
view2:
    1: 
        2:
            3:
                4:
                    5: [
                        "leaf1"
                        "leaf2"
                    ]
list: [1, 2, 3]
