doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title about strudl
        link(rel='stylesheet' href='../style/about.css' type='text/css')

    body#body
        div#container
            div#about
                img#icon(src='../img/about.png')
