doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title about strudl
        link(rel='stylesheet' href='../style/about.css' type='text/css')
        script(src='../about.js')
    body#body
        div#container(onclick="window.close();")
            center
                div#about
                    img#icon(src='../img/about.png', onclick="openFile();")
                    div#version
                    a(onclick="openURL('<%= repository.url %>');" href="#")
                        div strudl v<%= version %>
