data
electron*
img/*.pxm
js/*.js
js/*.map
js/html
js/style
node_modules
prefs.json
*.app
strudl.log
style/bright.css
style/dark.css
style/fixed.css
style/tree.css
bin/strudl.app.tgz
bin/strudl.js
win.html
Icon*
