
clr                   = {} 
clr.black             = #000000
clr.gray-most-dark    = #181818
clr.gray-very-dark    = #282828
clr.gray-dark         = #333333
clr.gray-medium       = #555555
clr.gray              = #888888
clr.gray-bright       = #cccccc
clr.gray-very-bright  = #dddddd
clr.gray-super-bright = #eeeeee
clr.background        = #fafafa
clr.white             = #ffffff
clr.yellow-bright     = #ffff88
clr.yellow            = #ffff00
clr.orange-bright     = #ffbb00
clr.orange            = #ff8800
clr.red               = #ff0000
clr.green             = #00aa00
clr.green-bright      = #44ff44
clr.green-dark        = #006600
clr.blue-dark         = #2222aa
clr.blue              = #4444ff
clr.blue-medium       = #6666ff
clr.blue-bright       = #8888ff
clr.blue-very-bright  = #aaaaff
clr.blue-super-bright = #ccccff

body
    font-family       Verdana
    background-color: clr.background

::selection
    color:            clr.gray-bright
    
.vline
    width               1px
    border-left:        1px solid clr.gray-super-bright
        
/*
*  00000000    0000000   000000000  000   000
*  000   000  000   000     000     000   000
*  00000000   000000000     000     000000000
*  000        000   000     000     000   000
*  000        000   000     000     000   000
*/

oddColor = clr.gray-bright
evenColor = clr.gray-very-bright

.pathText
    color:              clr.gray-dark
    
.pathText.odd
    background-color:   oddColor
.pathText.even
    background-color:   evenColor
    
.pathArrow.odd
    border-left-color:  oddColor
    background-color:   evenColor

.pathArrow.even
    border-left-color:  evenColor
    background-color:   oddColor
    
.pathArrow.last
    background-color:   inherit
        
/*
*   0000000   0000000  00000000    0000000   000      000    
*  000       000       000   000  000   000  000      000    
*  0000000   000       0000000    000   000  000      000    
*       000  000       000   000  000   000  000      000    
*  0000000    0000000  000   000   0000000   0000000  0000000
*/

.scroll
    background-color:   oddColor
    
.scroll.flashy
    background-color:   clr.black


/*
*  000000000  00000000   00000000  00000000
*     000     000   000  000       000     
*     000     0000000    0000000   0000000 
*     000     000   000  000       000     
*     000     000   000  00000000  00000000
*/

.tree-line
    border-bottom:      1px solid clr.gray-super-bright
    &.selected
        background-color:   clr.gray-super-bright

.tree-item.idx
    color:              clr.gray-bright

.tree-value.spc
    color:              clr.gray-medium

.tree-value.key.array-index
    color:              clr.gray-medium
    
.tree-value.key
    color:              clr.gray

.tree-item.value.type-object
    color:              clr.gray-bright

.tree-value.vis
    color:              clr.gray-very-bright

.tree-value.chd
    color:              clr.gray-bright

.tree-value.dsc
    color:              clr.gray-medium
