/*
*  00000000  000  000   000  00000000  0000000  
*  000       000   000 000   000       000   000
*  000000    000    00000    0000000   000   000
*  000       000   000 000   000       000   000
*  000       000  000   000  00000000  0000000  
*/

nodrag()
    -webkit-app-region  no-drag

treeItemHeight = 24px

body
    margin              0px
    -webkit-user-select none
    pointer-events      all
    font-size           14px
    overflow            hidden

input 
textarea
    outline             none
    
.clear     
    clear               both
    
#container
    position            absolute
    top                 0
    bottom              0
    left                0
    right               0
    
/*
*   0000000  000  0000000  00000000  00000000 
*  000       000     000   000       000   000
*  0000000   000    000    0000000   0000000  
*       000  000   000     000       000   000
*  0000000   000  0000000  00000000  000   000
*/

.sizers
    display             block
    width               100%
    overflow            visible
    
.sizer
    position            absolute
    top                 0
    width               6px
    height              100%
    background-color    transparent
    cursor              col-resize

.vline
    box-sizing          border-box
    position            relative
    top                 0
    left                50%
    height              100%
    
.sizerDot
    width               12px
    height              12px
    border-radius       6px
    
/*
*   0000000   0000000  00000000    0000000   000      000    
*  000       000       000   000  000   000  000      000    
*  0000000   000       0000000    000   000  000      000    
*       000  000       000   000  000   000  000      000    
*  0000000    0000000  000   000   0000000   0000000  0000000
*/

.scroll
    position            absolute
    width               16px
    height              20%
    top                 0px
    left                0px
    cursor              ns-resize

/*
*  00000000    0000000   000000000  000   000
*  000   000  000   000     000     000   000
*  00000000   000000000     000     000000000
*  000        000   000     000     000   000
*  000        000   000     000     000   000
*/

#path
    display             block
    min-height          treeItemHeight
    top                 0px
    width               100%
    
.pathText
    vertical-align      top
    box-sizing          border-box
    height              treeItemHeight
    display             inline-block
    padding-top         3px
    padding-left        8px
    padding-right       4px

.pathArrow 
    display             inline-block
    width 0
    height 0
    border-top          (treeItemHeight / 2px) solid transparent
    border-bottom       (treeItemHeight / 2px) solid transparent
    border-left-width   (treeItemHeight / 2px)
    border-left-style   solid

@import 'tree'
