/*
*  00000000  000  000   000  00000000  0000000  
*  000       000   000 000   000       000   000
*  000000    000    00000    0000000   000   000
*  000       000   000 000   000       000   000
*  000       000  000   000  00000000  0000000  
*/

nodrag()
    -webkit-app-region  no-drag

tree-item-height = 24px
arrow-width      = 4px

body
    margin              0px
    height              100%
    -webkit-user-select none
    pointer-events      none
    font-size           14px

input 
textarea
    outline             none
    
.no-pointer
    pointer-events      none

#tree-scroll
    nodrag()
    top                 0
    left                0
    bottom              0
    right               0
    position            absolute

#tree
    overflow            scroll
    pointer-events      all

.tree-item
    border-top          0px solid #222
    padding             0
    margin              0
    spacing             0
    height              tree-item-height
    line-height         tree-item-height 
    overflow            hidden   
    -webkit-user-select none
    cursor              pointer
    white-space         nowrap

.tree-item > *
    display             inline-block
    white-space         nowrap  
    overflow            hidden   

.tree-item-spc
    display             inline-block
    text-align          right

.tree-item-spc.collapsed::after
    content             '►'
    margin-right        @arrow-width

.tree-item-spc.expanded::after
    content             '▽'
    margin-right        @arrow-width

.tree-item-key
    display             inline-block
    width               200px
    margin-right        6px

.tree-item-key.type-array
    text-shadow         none

.tree-item-value
    display             inline-block
    min-width           100px
    white-space         nowrap
