/*
*  000000000  00000000   00000000  00000000
*     000     000   000  000       000     
*     000     0000000    0000000   0000000 
*     000     000   000  000       000     
*     000     000   000  00000000  00000000
*/

#treeScroll
    position            relative
    display             block
    width               100%
    overflow            hidden

#tree
    position            relative
    min-width           100%
    padding             0
    display             block
    white-space         nowrap

.tree-col
    display             inline-block
    overflow            hidden
    &.lin
        float           left
        box-sizing      border-box
        width           0
        overflow        visible
    &.idx
        float           left
        box-sizing      border-box
        width           idxColumnWidth
        // overflow        visible
    &.key
        overflow-x      auto
        overflow-y      hidden
        min-width       100px
        width           500px
        padding-right   10px
    &.val
        min-width       100px
        width           300px
        padding-left    10px
    &.num
        width           numColumnWidth
        padding-right   14px

.tree-line
    box-sizing          border-box
    position            absolute
    width               5000px
    left                0
    top                 0
    height              treeItemHeight
    cursor              pointer
    outline             none
    -webkit-box-shadow  none

.tree-item
    position            relative
    background-color    transparent
    display             block
    box-sizing          border-box
    margin              0
    spacing             0
    height              treeItemHeight
    line-height         treeItemHeight
    overflow            visible
    -webkit-user-select none
    outline             none
    
.tree-value
    background-color    transparent
    display             inline-block
    outline             none
    &.vis
    &.dsc
    &.chd
        box-sizing      border-box
        text-align      right
        width           45px
        font-size       11px
        padding-right   5px
    &.val
        pointer-events  none
        position        absolute
        left            0

.tree-item.idx
    text-align          right
    min-width           33px
    font-size           10px
    padding-left        6px

.tree-value.spc
    box-sizing          border-box
    text-align          right
    vertical-align      top
    padding-right       6px

    &.collapsed::after
        content         '►'

    &.expanded::after
        content         '▽'
    
        


    
