/*
*  000000000  00000000   00000000  00000000
*     000     000   000  000       000     
*     000     0000000    0000000   0000000 
*     000     000   000  000       000     
*     000     000   000  00000000  00000000
*/

#treeScroll
    position            relative
    display             block
    width               100%
    overflow            hidden

#tree
    position            relative
    min-width           100%
    padding             0
    display             block
    white-space         nowrap

.tree-col
    display             inline-block
    overflow            hidden
    &.idx
        float           left
        box-sizing      border-box
        width           40px
        overflow        visible
    &.key
        overflow-x      auto
        overflow-y      hidden
        min-width       100px
        width           500px
        padding-right   10px
    &.val
        min-width       100px
        width           300px
        padding-left    10px
    &.num
        width           100px
        padding-right   10px

.tree-line
    box-sizing          border-box
    pointer-events      all
    position            absolute
    width               5000px
    left                0
    top                 0
    height              treeItemHeight
    cursor              pointer
    outline             none
    -webkit-box-shadow  none

.tree-item
    position            relative
    background-color    transparent
    display             block
    box-sizing          border-box
    margin              0
    spacing             0
    height              treeItemHeight
    line-height         treeItemHeight
    overflow            visible
    -webkit-user-select none
    pointer-events      none
    outline             none
    &.val
        pointer-events  all
    
.tree-value
    background-color    transparent
    display             inline-block
    outline             none
    &.vis
    &.dsc
    &.chd
        box-sizing      border-box
        text-align      right
        width           30px
        font-size       11px
        padding-left    5px
    &.val
        position        absolute
        left            0

.tree-item.idx
    text-align          right
    min-width           33px
    font-size           10px
    padding-left        6px

.tree-value.spc
    text-align          right
    pointer-events      all

    &.collapsed::after
        content         '►'

    &.expanded::after
        content         '▽'
    
    &.collapsed::after
    &.expanded::after
        margin-right    6px


    
